<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="ProposalTemplatePath" value="S:\Proposals\10 Templates\00 Presales\RockSolid CMS - Proposal template 2013.dotx"/>
  </appSettings>

  <!--See http://logging.apache.org/log4net/index.html-->
  <log4net>
    <appender name='RollingFile' type='log4net.Appender.RollingFileAppender'>
      <file value='${TEMP}\RockSolidOffice\log-file.txt' />
      <appendToFile value='true' />
      <rollingStyle value='Size' />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value='1MB' />
      <maxSizeRollBackups value='5' />
      <layout type='log4net.Layout.PatternLayout'>
        <header value='[Date Time] [Thread ID] [Level] [Class] [TimeStamp since app started] [Message] {Version: 1.1.1}&#13;&#10;'/>
        <conversionPattern value='%date [%thread] %-5level %logger %-4timestamp - %message%newline' />
        <Footer value='&#13;&#10;'/>
      </layout>
    </appender>
    <root>
      <level value='INFO' />
      <appender-ref ref='RollingFile' />
    </root>
  </log4net>

</configuration>